@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400italic,400|Inconsolata);
::selection{background:#1070C0;color:#DBDBDB;}
::-moz-selection{background:#1070C0;color:#DBDBDB;}
::-webkit-selection{background:#1070C0;color:#DBDBDB;}

