@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic|Lato:300|Source+Code+Pro);

body {
    color: #403E3F;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    text-rendering: optimizeLegibility;
    width: 635px;
}

div#feed {
    margin-left: auto;
    margin-right: auto;
    width: 635px;
}

a {
    color: #1070C0;
}

a#entry-title-link {
    color: #7F7F7F;
}

article.entry {
    padding: 0.7em;
    font-size: 0.7em;
}

aside.entry-title-date {
    font-size: 0.8em;
    font-style: italic;
    line-height: 0.7em;
}

blockquote {
    font-style: italic;
}

footer#footer {
    font-size: 0.7em;
}

h1.entry-title {
    font-size: 2.5em;
}

h1 a {
    text-decoration: none;
}

h3.entry-title {
    margin-bottom: 0.25em;
    text-align: left;
}

nav {
    border-top: 1px solid #403E3F;
    text-align: center;
}

nav > a {
    text-decoration: none;
}

ol#posts-list {
    list-style-type: none;
    padding-left: 0;
}

.paginationer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
}

pre {
    font-family: 'Source Code Pro', Monaco, monospace;
    font-size: 0.8em;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#about {
    text-align: center;
}

.entry-title {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.highlight {
    padding-left: 0.7em;
}

.post-info {
    font-size: 0.7em;
    padding-top: 1.4em;
    padding-bottom: 0.7em;
}

div.sitehead {
    font-size: 100px;
    height: 156px;
    line-height: 140px;
    margin: auto;
    text-align: center;
    width: 100%;
}

span#sitehead {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: normal;
    vertical-align: middle;
    text-transform: uppercase;
    border-style: solid;
    border-width: 3px;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

span#sitehead a {
    color: black;
    text-decoration: none;
}

#tagline {
    margin: auto;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
}
