@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300italic,300,Anonymous+Pro);

body {
    color: #403E3F;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    text-rendering: optimizeLegibility;
    width: 635px;
}

a {
    color: #1070C0;
}

a#entry-title-link {
    color: #7F7F7F;
}

footer#footer {
    font-size: 0.7em;
}

h1.entry-title {
    font-size: 2.5em;
}

h1 a {
    text-decoration: none;
}

nav {
    text-align: center;
}

pre {
    font-family: 'Anonymous Pro', Monaco, monospace;
    font-size: 1em;
}

.entry-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.post-info {
    font-size: 0.7em;
    padding-top: 1.4em;
    padding-bottom: 0.7em;
}

#siteheader {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    text-align: center;
}

